@font-face {
    font-family: jakarta-100;
    src: url('../asset/font/static/PlusJakartaSans-ExtraLight.ttf');
}

.jakarta-100{
    font-family: jakarta-100;
}

@font-face {
    font-family: jakarta-200;
    src: url('../asset/font/static/PlusJakartaSans-Light.ttf');
}

.jakarta-200{
    font-family: jakarta-200;
}

@font-face {
    font-family: jakarta;
    src: url('../asset/font/static/PlusJakartaSans-Regular.ttf');
}

.jakarta{
    font-family: jakarta;
}

@font-face {
    font-family: jakarta-400;
    src: url('../asset/font/static/PlusJakartaSans-Medium.ttf');
}

.jakarta-400{
    font-family: jakarta-400;
}

@font-face {
    font-family: jakarta-500;
    src: url('../asset/font/static/PlusJakartaSans-SemiBold.ttf');
}

.jakarta-500{
    font-family: jakarta-500;
}

@font-face {
    font-family: jakarta-700;
    src: url('../asset/font/static/PlusJakartaSans-Bold.ttf');
}

.jakarta-700{
    font-family: jakarta-700;
}

@font-face {
    font-family: jakarta-800;
    src: url('../asset/font/static/PlusJakartaSans-ExtraBold.ttf');
}

.jakarta-800{
    font-family: jakarta-800;
}