/* .parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
} */

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reveal p{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.reveal p:nth-child(1){
    animation: reveal 6s infinite;
}

@keyframes reveal {
    0%{
        padding-top: 10px;
        opacity: 0;
    }
    20%{
        padding-top: 20px;
        opacity: 1;
    }
    60%{
        padding-top: 20px;
        opacity: 1;
    }
    75%{
        padding-top: 10px;
        opacity: 0;
    }
    100%{
        padding-top: 10px;
        opacity: 0;
    }
}

.reveal p:nth-child(2){
    animation: reveal2 6s infinite;
}

@keyframes reveal2 {
    0%{
        padding-top: 20px;
        opacity: 1;
    }
    20%{
        padding-top: 10px;
        opacity: 0;
    }
    60%{
        padding-top: 10px;
        opacity: 0;
    }
    80%{
        padding-top: 20px;
        opacity: 1;
    }
    100%{
        padding-top: 20px;
        opacity: 1;
    }
}

.pulse {
    box-shadow: 0 0 0 rgba(110, 231, 183, 0.4);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(110, 231, 183, 0.4);
        box-shadow: 0 0 0 0 rgba(110, 231, 183, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 10px rgba(110, 231, 183, 0);
        box-shadow: 0 0 0 10px rgba(110, 231, 183, 0);
    }
}

.pulse-red {
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        background-color: rgba(254, 202, 202, 0.2);
    }
    50% {
        background-color: rgba(254, 202, 202, 0);
    }
    100% {
        background-color: rgba(254, 202, 202, 0.2);
    }
}

.navigation-button{
    transition: 500ms;
}

.navigation-button:hover{
    padding: 1.25rem;
    margin-top: -25px;
    transition: 250ms ease-out;
}

.navigation-text{
    visibility: visible;
    opacity: 0;
    transition: 500ms;
    position: absolute;
    top: -40px;
}

.navigation-box:hover .navigation-text{
    visibility: visible;
    opacity: 1;
    transition: 750ms;
    margin-top: -10px;
}

.topbar-content{
    transition: 300ms;
    opacity: 0;
}

.topbar-content:hover{
    padding-top: 1.25rem;
    transition: 300ms;
    opacity: 1;
}

.swiper {
    width: 100%;
    height: 100%;
}


.underline-animation {
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 1px;
    padding-bottom: 10px;
    transition: background-size 500ms ease;
}

.underline-animation:hover {
    background-size: 100% 1px;
}

.linear-wipe {
    background: linear-gradient(to right, #ff9b9b 20%, #CDF2CA 40%, #9ADCFF 60%, #ff9b9b 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 3s linear infinite;
}
@keyframes shine {
to {
    background-position: 200% center;
}
}