ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reveal p{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.reveal p:nth-child(1){
    animation: reveal 6s infinite;
}

@keyframes reveal {
    0%{
        padding-top: 10px;
        opacity: 0;
    }
    20%{
        padding-top: 20px;
        opacity: 1;
    }
    60%{
        padding-top: 20px;
        opacity: 1;
    }
    75%{
        padding-top: 10px;
        opacity: 0;
    }
    100%{
        padding-top: 10px;
        opacity: 0;
    }
}

.reveal p:nth-child(2){
    animation: reveal2 6s infinite;
}

@keyframes reveal2 {
    0%{
        padding-top: 20px;
        opacity: 1;
    }
    20%{
        padding-top: 10px;
        opacity: 0;
    }
    60%{
        padding-top: 10px;
        opacity: 0;
    }
    80%{
        padding-top: 20px;
        opacity: 1;
    }
    100%{
        padding-top: 20px;
        opacity: 1;
    }
}

.pulse {
    box-shadow: 0 0 0 rgba(110, 231, 183, 0.4);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(110, 231, 183, 0.4);
        box-shadow: 0 0 0 0 rgba(110, 231, 183, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 10px rgba(110, 231, 183, 0);
        box-shadow: 0 0 0 10px rgba(110, 231, 183, 0);
    }
}

.pulse-red {
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        background-color: rgba(254, 202, 202, 0.2);
    }
    50% {
        background-color: rgba(254, 202, 202, 0);
    }
    100% {
        background-color: rgba(254, 202, 202, 0.2);
    }
}

.navigation-button{
    transition: 300ms;
}

.navigation-button:hover{
    padding: 1rem;
    margin-top: -25px;
    transition: 200ms;
}

.navigation-text{
    visibility: visible;
    opacity: 0;
    transition: 500ms;
    position: absolute;
    top: -40px;
}

.navigation-box:hover .navigation-text{
    visibility: visible;
    opacity: 1;
    transition: 500ms;
    margin-top: -10px;
}

.status{
    bottom: 30px;
}

.logo{
    transition: 300ms;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
}

.status:hover .logo{
    margin-bottom: 50px;
    transition: 300ms;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.topbar-content{
    transition: 300ms;
    opacity: 0;
}

.topbar-content:hover{
    padding-top: 1.25rem;
    transition: 300ms;
    opacity: 1;
}

.swiper {
    width: 100%;
    height: 100%;
}


.underline-animation {
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 1px;
    padding-bottom: 10px;
    transition: background-size 500ms ease;
}

.underline-animation:hover {
    background-size: 100% 1px;
}
