.timeline {
  min-width: 400px;
  min-height: 100px;
  position: relative;
}
.timeline:before,
.timeline:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background: #2094FA;
}
.timeline:before {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.timeline:after {
  bottom: 0;
  width: 2px;
}
.timeline-item {
  width: 100%;
  font-size: 0.9rem;
  margin: 50px 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.timeline-item > * {
  -webkit-flex: 100px;
  -ms-flex: 100px;
  flex: 100px;
}
.timeline-item:last-child:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background: #2094FA;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.timeline-item-title {
  text-align: right;
  color: #424242;
}
.timeline-item-date {
  color: #b3b3b3;
}
.timeline-item-selector {
  -webkit-flex: 0 0 6px;
  -ms-flex: 0 0 6px;
  flex: 0 0 6px;
  padding: 6px;
  border: 1px solid #2094FA;
  border-radius: 50%;
  margin: 0px 20px;
  background: #fff;
  z-index: 2;
}
.timeline-item-selector:hover {
  transition: all 0.3s;
  background: #2094FA;
}
